    <!-- 2 TABLAS DE INDUSTRIAS -->
    <!-- <table class="table table-striped"> -->

            <!-- <tbody>
              <tr>
                <td scope="col"><strong>Página principal de Industria</strong></td>
              </tr>
              <tr>
                <td scope="col"><strong>Temas relevantes</strong></td>
              </tr>
              <tr>
                <td><strong>Espectro Radioeléctrico</strong></td>
              </tr>
              <tr>
                <td><strong>Política Regulatoria</strong></td>
              </tr>
              <tr>
                <td><strong>Consultas Públicas</strong></td>
              </tr>
              <tr>
                <td><strong>Registro de Regulaciones</strong></td>
              </tr>
              <tr>
                <td><strong>Competencia Económica</strong></td>
              </tr>
              <tr>
                <td><strong>Medios y Contenidos Audiovisuales</strong></td>
              </tr>
              <tr>
                <td><strong>Asuntos Internacionales</strong></td>
              </tr>
              <tr>
                <td><strong>Concesiones y Servicios</strong></td>
              </tr>
              <tr>
                <td><strong>Unidad de Cumplimiento</strong></td>
              </tr>
              <tr>
                <td><strong>Centro de Estudios</strong></td>
              </tr>
              <tr>
                <td><strong>Homologación y Evaluación de la Conformidad</strong></td>
              </tr>
              <tr>
                <td><strong>Transformación Digital</strong></td>
              </tr>
            </tbody> -->
  
            <!-- <tbody>
              <tr>
                <td scope="col"><strong>Página principal de Industria:</strong></td>
                <td scope="col"><a href="https://www.ift.org.mx/industria">https://www.ift.org.mx/industria</a></td>
              </tr>
              <tr>
                <td scope="col"><strong>Temas relevantes:</strong></td>
                <td scope="col">
                  <a href="https://www.ift.org.mx/temas-relevantes/red-compartida">https://www.ift.org.mx/temas-relevantes/red-compartida</a><br>
                  <a href="https://www.ift.org.mx/espectro-radioelectrico/licitaciones">https://www.ift.org.mx/espectro-radioelectrico/licitaciones</a><br>
                  <a href="https://www.ift.org.mx/industria/politica-regulatoria/preponderancia-radiodifusion">https://www.ift.org.mx/industria/politica-regulatoria/preponderancia-radiodifusion</a><br>
                  <a href="https://www.ift.org.mx/industria/lineamientos-de-colaboracion-en-materia-de-seguridad-y-justicia-0">https://www.ift.org.mx/industria/lineamientos-de-colaboracion-en-materia-de-seguridad-y-justicia-0</a><br>
                  <a href="https://www.ift.org.mx/industria/mejorando-los-tramites-en-el-instituto-federal-de-telecomunicaciones-medicion-y-reduccion-de-cargas">https://www.ift.org.mx/industria/mejorando-los-tramites-en-el-instituto-federal-de-telecomunicaciones-medicion-y-reduccion-de-cargas</a>
                </td>
              </tr>
              <tr>
                <td><strong>Espectro Radioeléctrico:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/espectro-radioelectrico">https://www.ift.org.mx/espectro-radioelectrico</a>
                </td>
              </tr>
              <tr>
                <td><strong>Política Regulatoria:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/politica-regulatoria/modelos-de-costos">https://www.ift.org.mx/politica-regulatoria/modelos-de-costos</a><br>
                  <a href="https://www.ift.org.mx/politica-regulatoria/regulacion-tecnica">https://www.ift.org.mx/politica-regulatoria/regulacion-tecnica</a><br>
                  <a href="https://www.ift.org.mx/industria/politica-regulatoria/red-nacional-de-banda-ancha">https://www.ift.org.mx/industria/politica-regulatoria/red-nacional-de-banda-ancha</a><br>
                  <a href="https://www.ift.org.mx/politica-regulatoria/convenios-de-servicios-mayoristas-del-agente-economico-preponderante">https://www.ift.org.mx/politica-regulatoria/convenios-de-servicios-mayoristas-del-agente-economico-preponderante</a><br>
                  <a href="https://www.ift.org.mx/industria/politica-regulatoria/disposiciones-tecnicas">https://www.ift.org.mx/industria/politica-regulatoria/disposiciones-tecnicas</a><br>
                  <a href="https://www.ift.org.mx/industria/politica-regulatoria/preponderancia-radiodifusion">https://www.ift.org.mx/industria/politica-regulatoria/preponderancia-radiodifusion</a><br>
                  <a href="https://www.ift.org.mx/industria/politica_regulatoria/laboratorios_de_prueba">https://www.ift.org.mx/industria/politica_regulatoria/laboratorios_de_prueba</a><br>
                  <a href="https://www.ift.org.mx/politica-regulatoria/comite-de-migracion-tdm-ip">https://www.ift.org.mx/politica-regulatoria/comite-de-migracion-tdm-ip</a><br>
                  <a href="https://www.ift.org.mx/velocimetros-internet">https://www.ift.org.mx/velocimetros-internet</a><br>
                  <a href="https://www.ift.org.mx/industria/politica-regulatoria/poder-sustancial-de-mercado">https://www.ift.org.mx/industria/politica-regulatoria/poder-sustancial-de-mercado</a><br>
                  <a href="https://www.ift.org.mx/politica-regulatoria/recomendaciones-para-fomentar-la-adopcion-de-ipv6-en-mexico">https://www.ift.org.mx/politica-regulatoria/recomendaciones-para-fomentar-la-adopcion-de-ipv6-en-mexico</a><br>
                  
                </td>
              </tr>
              <tr>
                <td><strong>Consultas Públicas:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/industria/consultas-publicas">https://www.ift.org.mx/industria/consultas-publicas</a><br>
                  
                </td>
              </tr>
              <tr>
                <td><strong>Registro de Regulaciones:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/industria/registro-de-regulaciones">https://www.ift.org.mx/industria/registro-de-regulaciones</a><br>
                  
                </td>
              </tr>
              <tr>
                <td><strong>Competencia Económica:</strong></td>
                <td>
                  <a href="https://autoridadinvestigadora.ift.org.mx/">https://autoridadinvestigadora.ift.org.mx/</a><br>
                  <a href="https://www.ift.org.mx/industria/competencia-economica/competencia-economica/">https://www.ift.org.mx/industria/competencia-economica/competencia-economica/</a><br>
                  
                </td>
              </tr>
              <tr>
                <td><strong>Medios y Contenidos Audiovisuales:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/industria/umca/">https://www.ift.org.mx/industria/umca/</a><br>
                  
                </td>
              </tr>
              <tr>
                <td><strong>Asuntos Internacionales:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/industria/asuntos-internacionales">https://www.ift.org.mx/industria/asuntos-internacionales</a><br>
                  
                </td>
              </tr>
              <tr>
                <td><strong>Concesiones y Servicios:</strong></td>
                <td>
                  <a href="https://rpc.ift.org.mx/vrpc/">https://rpc.ift.org.mx/vrpc/</a><br>
                  <a href="https://www.ift.org.mx/industria/acuerdo-pift261114379">https://www.ift.org.mx/industria/acuerdo-pift261114379</a><br>
                  <a href="https://www.ift.org.mx/industria/tramites-y-servicios/certificacion-y-licencias">https://www.ift.org.mx/industria/tramites-y-servicios/certificacion-y-licencias</a><br>
                  <a href="https://www.ift.org.mx/industria/concesiones-y-servicios/radio-y-tv">https://www.ift.org.mx/industria/concesiones-y-servicios/radio-y-tv</a><br>
                  <a href="https://www.ift.org.mx/industria/homologacion">https://www.ift.org.mx/industria/homologacion</a><br>
                  <a href="https://www.ift.org.mx/industria/guias">https://www.ift.org.mx/industria/guias</a><br>
                  <a href="https://www.ift.org.mx/industria/registro-nacional-de-peritos">https://www.ift.org.mx/industria/registro-nacional-de-peritos</a><br>
                  <a href="https://ift.org.mx/industria/empresas-certificadoras-autorizadas-realizar-estudios-de-no-interferencia-y-emitir-la-constancia">https://ift.org.mx/industria/empresas-certificadoras-autorizadas-realizar-estudios-de-no-interferencia-y-emitir-la-constancia</a><br>
                </td>
              </tr>
              <tr>
                <td><strong>Unidad de Cumplimiento:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/industria/unidad-de-cumplimiento">https://www.ift.org.mx/industria/unidad-de-cumplimiento</a><br>
                </td>
              </tr>
              <tr>
                <td><strong>Centro de Estudios:</strong></td>
                <td>
                  <a href="https://centrodeestudios.ift.org.mx/">https://centrodeestudios.ift.org.mx/</a><br>
                </td>
              </tr>
              <tr>
                <td><strong>Homologación y Evaluación de la Conformidad:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/industria/homologacion-evaluacion-conformidad">https://www.ift.org.mx/industria/homologacion-evaluacion-conformidad</a><br>
                </td>
              </tr>
              <tr>
                <td><strong>Transformación Digital:</strong></td>
                <td>
                  <a href="https://www.ift.org.mx/transformacion-digital/blog">https://www.ift.org.mx/transformacion-digital/blog</a><br>
                </td>
              </tr>
            </tbody> -->
          <!-- </table> -->